
/* ----- ----- ----- ----- RAPPELS & TIPS ----- ----- ----- ----- */
/*

Tailles :
1em = Taille de la police
1vw =1/100 de la largeur de la fenêtre)
-> Utiliser 'calc(2em + 5vw)' (par exemple) pour combiner et obtenir une taille minimum + 'responsive' !

*/

/* ----- ----- ----- ----- CSS "Global" ----- ----- ----- ----- */

/* ----- -----  Main (Corps de Page) ----- ----- */

#content {
    max-width: 70%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: cyan; /* TEMP REMOVE */
    float: left;
}

/* ----- -----  Gallerie (Corps de Page) ----- ----- */

.gallery {
    min-width: 150px;
    margin: 1%;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 22%;
    height: 16%;
    background-color: red;
}

/*div.gallery:hover {
FILTRE GRIS + Message "Afficher"
}*/

.gallery img {
    width: 100%;
}


/* ----- Menu de droite (Sidebar) ----- */

#sidebar {
    max-width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: cyan;
    float: right;
    text-align: center;
}

#nosidebar {
    display: none;
}

/* ----- ----- ----- ----- CSS "@media" (Responsive) ----- ----- ----- ----- */

@media all and (max-width:500px) { /* Sur tous les médias, si la largeur d'affichage est plus petite que 500px */
    #sidebar {
        display: none;
    }    
    #nosidebar {
        display: inline;
    }
    #content {
        max-width: 100%;
        float:none;
    }
}
