
/* ----- ----- ----- ----- RAPPELS & TIPS ----- ----- ----- ----- */
/*

Tailles :
1em = Taille de la police
1vw =1/100 de la largeur de la fenêtre)
-> Utiliser 'calc(2em + 5vw)' (par exemple) pour combiner et obtenir une taille minimum + 'responsive' !

*/

/* ----- ----- ----- ----- CSS "Global" ----- ----- ----- ----- */

/* ----- ----- Général (Page) ----- ----- */



/* ----- Menu de droite (Sidebar) ----- */

#sidebar {
    max-width: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: cyan;
    text-align: center;
    
}

#nosidebar {
    display: none;
}